@{
    ViewData["Title"] = "Naslovna";
}

<div class="text-center">
    <h1 class="display-4">Lab2 Booking</h1>
    <p style="font-variant-emoji:auto">Malo mijenjano reda radi. :)</p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Create" style="background-color:lightblue">Unos</a>
    </>
    <a class="nav-link text-dark" asp-area="" asp-controller="Booking" asp-action="Index" style="background-color:lightblue">Prikaži rezervcije</a>
    </>
</div>
